@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0;}   
body{ font:12px/1.5 "Microsoft yahei",arial; color:#333; }
fieldset, img {border:0;}   
table{border-collapse:collapse;border-spacing:0;}   
ol, ul{list-style:none;}   
address, caption, cite, code, th{font-weight:normal;font-style:normal;}    
h1, h2, h3, h4, h5, h6{font-size:100%;}   

input[type="submit"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,button::-moz-focus-inner{ border:0; padding:0; margin:0; } 
button, input, select, textarea { font-family: tahoma, arial, \5b8b\4f53, sans-serif; }

body{ font:14px/24px 'microsoft yahei', arial; color:#333; background:#fff; }

img{ vertical-align:bottom; }
h1{ height:60px; line-height:60px; font-size:36px; padding-left:50px; overflow:hidden; }
h1 a{ font-size:16px; font-weight:400; color:#06c; text-decoration:underline; font-family:arial; }
h5{ font-size:14px; font-weight:700; }
.wrapper{ padding:0 50px 100px; }
.demo_box{ border-left:2px solid #bbb; width:628px; margin-bottom:20px; background:#f8f8f8; padding:10px 20px; position:relative; } 
.demo_box:after{ content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; } 
.demo_box p{ margin:0; }
.anim_box{ width:670px; height:100px; position:relative; padding-bottom:20px; }
.anim_box div{ width:100px; height:100px; background:#2c2c2c; position:absolute; line-height:100px; border:0px solid #028fc4; font-size:32px; color:#fff; text-align:center; overflow:hidden; font-family:"Lucida Sans Unicode",​"Lucida Grande",​sans-serif; }

.console_box{ width:662px; border:4px solid #f5f5f5; min-height:60px; height:auto; _height:60px; padding:10px 0; }
.console_box li{ width:632px; margin:0 auto; padding:0 5px; height:29px; line-height:29px; border-bottom:1px solid #e5e5e5; font-family:arial; }

.example_box{ margin-top:30px; padding-bottom:30px; border-bottom:1px solid #ccc; }
.example_box h5{ margin-bottom:10px; }
.example_box h6{ font-size:12px; line-height:30px; margin-top:5px; }
.example_box p{ font-size:13px; color:#666; margin-bottom:10px; width:670px; overflow:hidden; }
.btn{ padding:0 18px; height:20px; line-height:20px; background:#eaeaea; font-family:"Microsoft yahei",arial; font-size:12px; outline:none; color:#333; text-decoration:none; border:1px solid #acacac; float:left; }
.btn:hover{ background:#e0effc; text-decoration:none; }
.long_btn{ width:120px; }
.example_box .code_box { margin-bottom:20px; }
.example_box .code_box pre{ font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace; font-size:12px; }

/* 代码高亮 */
.syntaxhighlighter {
  overflow:initial !important;
  background-color: white !important;
  margin-bottom:20px;
}